@import 'tailwindcss';

@theme {
  --color-background: #1b2838;
  --color-foreground: #acb2b8;
  --color-card-background-1: #16202d;
  --color-card-background-2: #0e141c;
  --color-card-foreground: #c6d4df;
  --color-mute-foreground: #556772;
  --color-primary-background: #21394c;
  --color-primary-foreground: #66c0f4;
  --color-accent-background-1: #75b022;
  --color-accent-background-2: #588a1b;
  --color-accent-foreground: #d2efa9;
  --color-accent-background-hover-1: #8ed629;
  --color-accent-background-hover-2: #6aa621;
  --color-danger-foreground: #c85e2d;
  --color-modal-background-1: #356480;
  --color-modal-background-2: #1a303d;
  --color-modal-foreground: #294d61;
  --color-ring: #66c0f4;
}

@layer base {
  * {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-4 focus-visible:ring-offset-card-background-2;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
}
